<%= form_with(model: mistake, local: true) do |form| %>
  <% if mistake.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mistake.errors.count, "mistake") %> prohibited this mistake from being saved:</h2>

      <ul>
      <% mistake.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :mistake_name, placeholder: "enter mistake name" %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :mistake_description, placeholder: "enter description" %>
  </div>

  <div class="field">
    <%= form.label :severity %>
    <%= form.select :severity, options_for_select((1..5).map { |n| [n, n] }), { prompt: 'Select severity' }, id: :mistake_severity %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
